.boton_reservar {
    width: 152px;
    height: 47px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .reservar {
        width: 136px;
        height: 24px;
        font-family: $Roboto;
        font-size: 23px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.23px;
        color: $color-blanco;
      }
  }