// esquema de colores

// primer esquema de color
$color-blanco: #ffffff;
$morado-primario: #5649cd;
$gris-secundario: #c2cfe0;

// tipografia
$Roboto: 'Roboto', sans-serif;

// Brakpoints
$viewport-small: 576px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;

// // Numbers of Columns
// $number-columns: 12;
